.ad__detail {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}
.ad__detail img {
  max-width: 50%;
}
.ad__detail--info {
  max-width: 50%;
  text-align: center;
}
.ad__detail--info h1 {
  color: #e6c229;
}
.ad__detail button {
  border: none;
  background-color: #28875e;
  color: white;
  padding: 25px;
  border-radius: 10px;
}

.carousel {
  display: flex;
  max-width: 500px;
  height: 250px;
}

.carousel__predchozi,
.carousel__dalsi {
  flex-shrink: 0;
}

.carousel__media {
  flex-grow: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
