.categories__container {
  position: absolute;
}

.categories {
  position: relative;
}

.menu {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgb(220, 220, 220) 2px;
  background-color: white;
}
.fixed--wraper {
  z-index: 1;
  position: fixed;
  top: 0;
  margin: auto;
  width: 80%;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.selected {
  background-color: #28875e2e;
  border-bottom: solid 2px #28875e;
  color: black;
}

.menu .logo {
  flex-basis: 180px;
  background-image: url(./img/logo_green.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.menu .user {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100px;
}

.menu .user__icon {
  background-image: url(./img/female.png);
  flex-basis: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  margin-right: 10px;
  position: relative;
}

.logout {
  position: absolute;
  min-width: 150px;
  top: 68px;
  background-color: #e6c229;
  text-align: center;
  /* padding-top: 43px; */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  right: -50px;
}
.logout--closed {
  display: none;
}

.nav-closed {
  display: none;
}

.logout button {
  margin: 20px;
}

.user {
  padding-left: 5px;
}

.menu .user__name {
  display: none;
}

.notification {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}
.notification button {
  background-color: lightseagreen;
  color: white;
  border: 1px solid rgb(28, 146, 140);
  border-radius: 2px;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.btn-logout {
  background-color: lightseagreen;
  color: white;
  border: 1px solid rgb(28, 146, 140);
  border-radius: 2px;
  margin: 20px 0 10px 0;
}
.notifications--number--false {
  display: none;
}
.notifications--number {
  position: absolute;
  right: -3px;
  top: 0;
  border-radius: 50%;
  background-color: #e6c229;
  color: white;
  text-align: center;
  width: 3vh;
  padding: 1px;
}

.burgerMenu {
  position: relative;
  fill: #28875e;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 40px;
}

.menu__tabs {
  position: absolute;
  top: 40px;
  list-style-type: none;
  background-color: rgb(220, 220, 220);
  padding: 0;
}

.menu__tabs a {
  display: block;
  color: black;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  width: 10rem;
  padding: 1rem;
}

.menu__tabs--middle {
  display: none;
}

.selected--burgerMenu {
  background-color: #e6c229;
  border-bottom: solid 2px #e6c229;
}

@media (min-width: 566px) {
  .menu .logo {
    flex-basis: 40px;
    margin-right: 20px;
    background-image: url(./img/S_green.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 5px;
  }

  .logout {
    right: 0;
  }

  .menu .user {
    flex-basis: 60px;
  }

  .menu .user__icon {
    margin-right: 0px;
  }

  .nav-btn {
    display: none;
  }

  .menu .menu__tabs--middle {
    display: flex;
    min-width: 351px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .navigation {
    display: none;
  }

  .menu li {
    flex-basis: 1;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
  }
}

@media (min-width: 800px) {
  .menu .logo {
    flex-basis: 180px;
    background-image: url(./img/logo_green.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu .user__name {
    display: block;
    flex-basis: 80%;
    text-align: end;
  }
}
