.menu {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgb(220, 220, 220) 2px;
}

.menu ul {
  display: flex;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  flex-basis: 1;
  text-align: center;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.selected {
  background-color: #9ebaae46;
  border-bottom: solid 2px #28875e;
  color: black;
}

.menu .logo {
  flex-basis: 20px;
  background-image: url(./img/S_green.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;
}

.menu .user {
  display: flex;
  justify-content: flex-end;
}

.menu .user__icon {
  background-image: url(./img/female.png);
  flex-basis: 20%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.user__icon {
  flex-shrink: 0;
  position: relative;
}
.logout {
  position: fixed;
  min-width: 150px;

  top: 68px;
  background-color: #e6c229;
  text-align: center;
  padding-top: 43px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.logout--closed {
  display: none;
}

.user {
  padding-left: 5px;
}

.menu .user__name {
  display: none;
}
.notification {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}
.notification button {
  background-color: lightseagreen;
  color: white;
  border: 1px solid rgb(28, 146, 140);
  border-radius: 2px;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.btn-logout {
  background-color: lightseagreen;
  color: white;
  border: 1px solid rgb(28, 146, 140);
  border-radius: 2px;
  margin: 20px 0 10px 0;
}
.notifications--number--false {
  display: none;
}
.notifications--number {
  position: absolute;
  right: -3px;
  top: 0;
  border-radius: 50%;
  background-color: #e6c229;
  color: white;
  text-align: center;
  width: 3vh;
  padding: 1px;
}
@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .menu .logo {
    flex-basis: 180px;
    background-image: url(./img/logo_green.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu .user__name {
    display: block;
    flex-basis: 80%;
    text-align: end;
  }
}
