.login__container {
  display: flex;
}
.webDescription {
  flex-basis: 50%;
  text-align: center;
}
.webDescription p {
  padding: 10%;
}
.webDescription img {
  width: 60%;
  object-fit: cover;
  vertical-align: middle;
}
.formular {
  flex-basis: 50%;
  text-align: center;
  padding-top: 10%;
}
.modal--closed {
  display: none;
}

.modal {
  text-align: center;
  padding: 5%;
  border: solid 2px #e6c229;
}

.input-field {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.btn-signIn {
  background-color: lightseagreen;
  color: white;
  border: 1px solid rgb(28, 146, 140);
  border-radius: 2px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  width: 60%;
}
.btn-login {
  background-color: #e6c229;
  border: none;
  color: white;
  border-radius: 2px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  width: 30%;
}

.modal p {
  color: rgb(28, 146, 140);
  font-weight: bold;
}
