.ad__picture {
  height: 80%;
  object-fit: cover;
  vertical-align: middle;
}

.ad__picture img {
  height: auto;
  width: 100%;
  max-width: 170px;
  object-fit: cover;
  height: 100%;
  vertical-align: middle;
  flex-basis: 30%;
  border-bottom: 5px solid white;
}

.ad {
  text-align: center;
  /* border: 1px solid black; */
  flex-basis: 100%;
  flex-grow: 1;
  height: 275px;
  border-bottom: 5px solid white;
}

.ad:hover {
  border-bottom: 5px solid #e6c229;
}

.ad__name {
  margin: 5px 0;
}

@media (min-width: 350px) {
  .ad {
    max-width: calc(50% - 5px);
  }
}

@media (min-width: 680px) {
  .ad {
    max-width: calc(33.33% - 6.66px);
  }
}

@media (min-width: 900px) {
  .ad {
    max-width: calc(25% - 7.5px);
  }
}

@media (min-width: 1000px) {
  .ad {
    max-width: calc(20% - 8px);
  }
}
