.item__picture {
  height: 80%;
  /* object-fit: cover; */
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  position: relative;
}

.item__picture button {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  padding: 1%;
  text-align: center;
  /* border: 1px solid black; */
  flex-basis: 220px;
  flex-grow: 0;
  height: 275px;
  border-bottom: 5px solid white;
}

.item:hover {
  border-bottom: 5px solid #e6c229;
}

.item__name {
  margin: 5px 0;
}

position: absolute;
top: 0;
right: 0;
