.item__picture {
  height: 80%;
  object-fit: cover;
  vertical-align: middle;
}

.item__picture img {
  height: auto;
  width: 100%;
  max-width: 170px;
  object-fit: cover;
  height: 100%;
  vertical-align: middle;
  flex-basis: 30%;
}

.item {
  padding: 1%;
  text-align: center;
  /* border: 1px solid black; */
  flex-basis: 220px;
  flex-grow: 0;
  height: 275px;
  border-bottom: 5px solid white;
}

.item:hover {
  border-bottom: 5px solid #e6c229;
}

.item__name {
  margin: 5px 0;
}
