.item__picture {
  height: 80%;
  /* object-fit: cover; */
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  position: relative;
}

.item__picture button {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  text-align: center;
  /* border: 1px solid black; */
  flex-basis: 100%;
  flex-grow: 1;
  height: 275px;
  border-bottom: 5px solid white;
}

.item:hover {
  border-bottom: 5px solid #e6c229;
}

.item__name {
  margin: 5px 0;
}

@media (min-width: 350px) {
  .item {
    max-width: calc(50% - 5px);
  }
}

@media (min-width: 680px) {
  .item {
    max-width: calc(33.33% - 6.66px);
  }
}

@media (min-width: 900px) {
  .item {
    max-width: calc(25% - 7.5px);
  }
}

@media (min-width: 1000px) {
  .item {
    max-width: calc(20% - 8px);
  }
}
