@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&display=swap" rel="stylesheet');

body {
  background-size: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  margin-top: 76px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 80%;

  margin: auto;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}
