.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  max-width: 200px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(29, 155, 149);
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

label div {
  word-wrap: break-word;
  text-align: center;
}
label img {
  transform: rotate(45deg);
  width: 30%;
  filter: invert(100%);
  margin: 10%;
}
