.categories,
.category__input {
  cursor: pointer;
}

.categories--closed {
  display: none;
}

.categories__container {
  background-color: #e6c229;
}

.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ads__categories {
  /*border: 1px solid black;*/
  flex-basis: 20%;
}

.ads__container {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.category__label {
  flex-basis: 100%;
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

.ads__categories p {
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #28875e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #28875e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 566px) {
  .categories__container {
    display: block;
    background-color: white;
  }

  .categories {
    cursor: default;
  }
}

.ads__categories {
  /*border: 1px solid black;*/
  flex-basis: 20%;
}

.ads__container {
  display: flex;
  flex-basis: 80%;

  flex-wrap: wrap;
}

.category__label {
  flex-basis: 100%;
  display: block;
  padding: 5px 0;
}
